@import "./utiles/variables.scss";
@import "./components/card.scss";
@import "./utiles/animations.css";

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.google.com/specimen/Roboto');
    font-weight: normal;
    font-style: normal;
}

body {
    box-sizing: border-box;
    min-width: 240px;

    font-family: Roboto;
    margin: 0;
    background-color: #F2F2F2;
}

.loader{
    cursor: wait;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(0,0%,100%,.9);
    animation: loader 3s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-delay: 1.75s;
    animation-duration: 2s;
    animation-fill-mode: both;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/logo/ohmyfood-small.png') 50% 50% no-repeat rgba(255, 255, 255, 0.8);

    @keyframes loader {
        0% {opacity: 1;}
        100% {opacity: 0; width: 0%; height: 0%;}
        }
    }

h1 {
    font-family: Shrikhand,"cursive";
    text-align: center;
    height: 2rem;
    padding-top: 1%;
    font-size: 1.5rem;
}

h2, h3{
    font-weight: bold;
}

h2{
    font-size: larger;
}

.top {
    display: flex;
    justify-content: center;
    width: 100%;
    -webkit-animation: WhitePage 5s;
    animation: WhitePage 5s;
}

.choice{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    height: 3rem;
    box-shadow: 0px 5px 5px -6px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 5px 5px -6px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 5px 5px -6px rgba(0,0,0,0.75) inset;
}

.searchform{
    display: flex;
    justify-content: center;
    align-items: center;
}

.locbutton, .searchbar{
    background-color: #EAEAEA;
    border-style: none;
    border-color: #EAEAEA;
}

.searchbar{
    width: 7rem;
}

.consignes{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $color-light-gray;
}

.titre{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.consignes h2{
    width: 50%;
    text-align: center;
}

.sous-titre{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    p{
        width: 80%;
        text-align: center;
    }
}

.bouton-explorer{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.searchbutton{
    background: linear-gradient(to top left, $color-primary, $color-secondary);
    border-radius: 30px;
    border: none;
    width: 15rem;
    height: 3.5rem;
    transform: scale(1);
    transition: all 1s;

    &:hover{
        cursor: pointer;
        background: linear-gradient(to top left, $color-primary-lighter, $color-secondary-lighter);
        box-shadow: 0 8px 16px 0 $color-secondary-lighter;
        transition: 1s;
        transform: scale(1.02);
    }
}

.explorer{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: $color-white;
}

.fonctionnement{
    padding-bottom: 2rem;
    padding-bottom: 2rem;
    background-color: $color-white;
}

.fonctionnement-titre{
    width: 100%;
    padding-top: 1rem;
}

.fonctionnement h2{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.etapes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bouton{
    margin: 1.5%;
    display: grid;
    height: 4.5rem;
    justify-content: space-between;
}

.disabled-filter{
    width: 20rem;
    height: 4rem;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$color-light-gray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);        
}
    

.disabled-filter-3{
    width: 20rem;
    height: 4rem;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f5edff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chiffre{
    border: solid $color-primary;
    border-radius: 20px;
    background-color: $color-primary;
    color: $color-white;
    width: 1rem;
    margin-left: -15px;
}

.bouton-etapes{
    margin-right: 5rem;
    font-weight: bold;
}

.fa-mobile-screen-button{
    margin-left: -1rem;
}

.fa-list{
    margin-left: -1.8rem;
}

.fa-store{
    margin-left: -1.5rem;
    color: #7f39d3;
}

.section-offre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 100%;
}

.titre-section{
    margin-left: 1.5rem;
    padding-top: 1rem;
}

.list-cards-restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    width: 100%;
}

.card-restaurant {
    position: relative;
    border-radius: 20px;
    line-height: 1.15;
    background-color: $color-white;
    margin: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    transition: all 1s;

    &:hover{
        box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
        transition: 1s;
    }
}

.card-restaurant a{
    text-decoration: none;
    color: $color-black;
}

.image-card-restaurant {
    display: flex;
    flex: 2;
    height: 12rem;
}

.restaurants-photos {
    display: flex;
    background-color: $color-white;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    height: 7rem;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.text-container-restaurant {
    display: flex;
    justify-content: space-between;
    border: 5px solid $color-white;
    background-color: $color-white;
    border-radius: 0 0 20px 20px;
}

.nouveau{
    position: absolute;
    right: 10px;
    top: 10px;
    //margin-top: -11rem;
    background: $color-green;
    color: $color-dark-green;
    border-radius: 3px;
    text-align: center;
    width: 80px;
    padding: 5px;
}

.titre-container-restaurant{
    margin-left: 2%;
}

.titre-container-restaurant p{
    margin-top: -1rem;
}

.titre-et-cœur{
    display: flex;
    justify-content: space-between;
}

.link{
    width: 100%;
}

.unchecked{
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;

    &:hover{
        cursor: pointer;
        opacity: 0;
        transition: 0.25s;
        color: $color-primary;
    }
}

.checked{
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: $color-light-gray;
    opacity: 0;
    position: absolute;
    transition: 1s;

    &:hover{
        transition: 0.25s;
        display: flex;
        color: $color-primary;
        opacity: 1;
    }
}

footer {
    flex-direction: column;
    color: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: $color-black;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

footer h4{
    font-family: Shrikhand,"cursive";
}

footer ul{
    list-style-type: none;
    padding-left: 0;
}

.titre-footer{
    color: $color-white;
    margin-bottom: 15px;
    padding-top: 15px;
}

.fa-handshake-angle, .fa-utensils{
    color: $color-white;
}

.fa-utensils{
    margin-right: 0.5rem;
}

.fa-handshake-angle{
    margin-right: 0.1rem;
}

.lien a{
    color:$color-white;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}


                                        /*-- Version Tablette --*/
@media all and (min-width:767px) and (max-width:1080px)
{
    .list-cards-restaurants {
        flex-direction: row;
    }

    .card-restaurant {
        margin: 0.5rem;
        width: 100%;
    }

    .titre{
        margin-bottom: 0;
    }

    .sous-titre{
        margin-bottom: 0;
    }

    .bouton-explorer{
        margin-top: 0;
    }

    .fonctionnement{
        margin-bottom: 0;
    }

    .fonctionnement-titre{
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .titre-section .h2{
        display: flex;
        justify-content: center;
    }
}

                                        /*-- Version Desktop --*/
@media all and (min-width:1081px) and (max-width:2400px)
{
    .etapes{
        flex-direction: row;
        align-items: center;
    }

    .bouton{
        margin: 3.5%;
    }

    .section-offre{
        align-items: center;
    }

    .list-cards-restaurants {
        flex-direction: row;
    }

    .card-restaurant {
        margin: 0.5rem;
        width: 100%;
    }

    .titre{
        margin-bottom: 0;
    }

    .sous-titre{
        margin-bottom: 0;
    }

    .bouton-explorer{
        margin-top: 0;
    }

    .fonctionnement{
        margin-bottom: 0;
    }

    .fonctionnement-titre{
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .titre-section .h2{
        display: flex;
        justify-content: center;
    }

    /* page de restaurant*/
    .nourriture{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .list-cards-entrees, .list-cards-plats, .list-cards-desserts{
        width: 23rem;
    }

    .nom{
        font-size: 15px;
        line-height: 15px;
    
        .h4{
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .p{
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

                                        /*-- Pages de restaurant --*/

.fleche-logo{
    background-color: $color-white;
    height: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.fa-arrow-left{
    display: flex;
    align-items: center;
    position: absolute;
    top: 2.4rem;
    left: 2rem;
    color: $color-black;

    &:hover{
        cursor: pointer;
        color: $color-primary;
    }
}

.en-tete{
    display: flex;
    justify-content: space-between;
    font-family: Shrikhand, "cursive";
    border-radius: 35px 35px 0px 0px;
}
.titre-restaurant{
    font-size: 22px;
    margin-left: 1rem;
    margin-top: 8px;
}

.cœur{
    height: 5rem;
    width: 5rem;
    background-color: initial;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.en-tete, .entrees, .plats, .desserts, .bouton-confirmer-commande{
    background-color: $color-light-gray;
    padding-bottom: 1rem;
    padding-top: 1rem;
    transform: translateY(-60px);
}

.cadre-photo{
    display: flex;
    justify-content: center;
}

.photo-restaurant{
    width: 100%;
    max-height: 320px;
    object-fit: cover;
}

.titre-underline{
    border-bottom: 3px solid $color-green;
    padding-bottom: 5px;
}

.titre-entrees, .titre-plats, .titre-desserts{
    padding-bottom: 1rem;
    margin: 1rem;
}


/* Animation fade in de chaque entrées, plats et dessert. Un par un*/
.up--1{
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: backwards;

    @keyframes appear{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.up--2{
    animation-name: appear;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;

    @keyframes appear{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.up--3{
    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: backwards;

    @keyframes appear{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.up--4{
    animation-name: appear;
    animation-duration: 2.5s;
    animation-fill-mode: backwards;

    @keyframes appear{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
}

/* Nom commun à toutes les cartes d'entrees, plats et desserts */
.up{
    display: flex;
    justify-content: space-between;
    background-color: $color-white;
    margin: 4%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover{
        cursor: pointer;
        box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
        transition: 1s;
        .shrink{
            width: 100%;
        }
        .box{
            width: 20%;
            background: $color-green;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-transition: width 1s;
            -o-transition: width 1s;
            transition: width 1s;
            color: $color-white;
            border-radius: 0 20px 20px 0;
        }
        .fa-circle-check{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transform: rotate(360deg);
            transition-duration: 0.5s;
        }
    }
}

.shrink{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.box{
    overflow: hidden;
    width: 0%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
    display: flex;
    justify-content: center;
    color: $color-white;
    border-radius: 0 20px 20px 0;
    transition: all 1s;
    .fa-circle-check{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1rem;
        border-radius: 100px;
        transform: rotate(-360deg);
        transition-duration: 2s;
    }
}

.text-container-entree, .text-container-plat, .text-container-dessert{
    margin-left: 1rem;
    flex: 4;
    line-height: 20px;
    overflow: hidden
}

.nom{
    font-size: 15px;
    line-height: 15px;
    white-space: nowrap;
    overflow: hidden;

    h4{
        text-overflow: ellipsis;
        overflow: hidden;
    }
    p{
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.prix{
    display: flex;
    margin-right: 1rem;
    align-items: center;
    justify-content: end;
    flex: 0;
}

.bouton-confirmer-commande{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 2rem;
    .commander{
    color: $color-white;
    }
}
